header{
    height: 200px;
    background-color: lightblue;
    border: 3px solid red;
    margin-bottom: 1%;
}

main{
    height: 200px;
    background-color: lightblue;
    border: 3px solid red;
}
/*  */